body{
    background-color: #404040 !important;
    color: #B5C3CC !important;
}

tr:first-child th {
    background-color: #353538 !important;
}

tr:nth-child(2n+1) td{
    background-color: #4d595d !important;
}

td{
    background-color: #3f4649 !important;
}

canvas{
    background-color: #5e6a6e !important;
    border-radius: 20px;
}

.logo-div{
    background-color: #87989f;
    height: 800px;
    width: 600px;
    border-radius: 20px;
}

.logo-img{
    max-height: 100px;
    max-width: 120px;
}